  <script>
	var directflag =1;
    function loanList(data) {
        console.log(data);

        var $type = $('#type');

        //{"currPage":"3","startDate":"2017-02-27","endDate":"2017-03-27","type":"done"}
        var jsonData = jQuery.parseJSON(data);

        console.log(jsonData);

        $type.val(jsonData.type);

        var currPage = 1;
        if(jsonData.currPage != null){
            currPage = parseInt(jsonData.currPage);
        }
        $('#startDate').datebox('setValue', jsonData.startDate);
        $('#endDate').datebox('setValue', jsonData.endDate);
        $("#fieldWords").val(jsonData.fieldWords == null ? 't1.loan_record_id' : jsonData.fieldWords);
        $("#keyWords").val(jsonData.keyWords == null ? '' : jsonData.keyWords);
        $("#stateWords").val(jsonData.stateWords == null ? 0 : jsonData.stateWords);

        $('#loanApplyTable').datagrid({
            url : "credit/toCreditTaskList",
            method : "get",
            remoteSort:false,
            queryParams : {
                fieldWords:$("#fieldWords").val(),
                keyWords: $('#keyWords').val(),
                stateWords:$("#stateWords").val(),
                startDate: $('#startDate').datebox('getValue'),
                endDate: $('#endDate').datebox('getValue'),
                type: $type.val()
            },
            pageNumber:currPage,
            rowStyler:function(index,row){
                if (row.haveClosed == 1){
                    return 'background-color:#BFEFFF;color:blue;font-weight:bold;';
                }
            }
        });


        //新增订单数字
        for(var i=1;i<=20;i++){
            $("#gainNum").append('<option value ="' + i + '">' + i + '</option>');
        }

        $("#assignTable").hide();
        if("todo" == $type.val() && admin.groupId == "CreditAttache"){
            //$("#assignTable").show();
        }

        $("#stateWordsTd").hide();
        if("all" == $type.val()){
            $("#stateWordsTd").show();
        }

        //gainSubmit 确定  gainCancel 取消获取
        //$("#gainCancel").hide();
    }

    function gainSubmitClick(){
        var applyNum = $("#gainNum").val();

        httpUtils.get("assignApply/submitAssignApply?applyNum="+applyNum,function (err,data) {
            if(err==null && data.result == 0){
                alert("提交成功");
                doSearch();
            }else{
                alert("数字不能为0或者时间不在17:50后");
            }
        });
    }

    function gainCancelClick(){
        httpUtils.get("assignApply/cancelAssignApply",function (err,data) {
            if(err==null && data.result == 0){
                alert("取消成功");
            }else{
                alert("时间不在17:50后");
            }
        });
    }

    function doSearch() {
        console.log($('#loanApplyTable').datagrid('getData'));
        $('#loanApplyTable').datagrid('load',{
            fieldWords:$("#fieldWords").val(),
            keyWords: $('#keyWords').val(),
            stateWords:$("#stateWords").val(),
            startDate: $('#startDate').datebox('getValue'),
            endDate: $('#endDate').datebox('getValue'),
            type: $('#type').val()
        }
        );
    }
    function onClickCell(rowIndex, field, value){
    	if('downloadUrl' == field || 'loanUseUrl' == field || 'businessLicense' == field || 'addOrganizationCode' == field){
    		directflag = 0;
    	}else{
    		directflag = 1;
    	}
    }
    function onClickRow(index, row) {
    	if(directflag==0)
    		return;
        row.type = $('#type').val();
        //{"applyAmount":row.applyAmount,"loanTimeLimit":+row.loanTimeLimit}
        //loadHTML("credit/loanTabs.html?applyAmount="+row.applyAmount+"&loanTimeLimit="+row.loanTimeLimit,null, null, row);
        var options = $('#loanApplyTable').datagrid('getPager').data("pagination").options;
        var currPage = options.pageNumber;  //获得当前页
        console.info(index);
        console.info(row);
        row.currPage = currPage;
        row.startDate = $('#startDate').datebox('getValue');
        row.endDate = $('#endDate').datebox('getValue');
        row.fieldWords = $('#fieldWords').val();
        row.keyWords = $('#keyWords').val();
        row.stateWords = $('#stateWords').val();

        loadHTML("credit/loanTabs.html",null, null, row);
    }

    function formatApprovalResult(value, rec, index) {
        var approvalResult = rec.approvalResult;
        //console.log(rec);
        switch (approvalResult){
            case 1:return "审批中";
            case 2:return "拒绝";
            case 10:return "待签约";
            case 11:return "取消签约";
            case 20:return "待放款";
            case 21:return "已融资";
            case 31:return "已清偿";
            default: return "无";
        }
    }

    function formatSuspended(value,rec,index){
        var suspended = rec.suspended;
        switch (suspended){
            case 1:return "已挂起";
            case 0:return "";
            default:return"";
        }
    }

    function formatAction(value,rec,index){
        var action = rec.action;
        switch (action){
            case 1:return "通过";
            case 2:return "拒绝";
            case 3:return "退回";
            default: return "";
        }
    }
    
    function formatDownloadUrl(value,rec,index){
    	if(rec.contractUrl){
    		return '<a href="'+ rec.contractUrl +'" target="_blank">合同查看</a>';
    	}
        if(rec.downloadUrl == null){
	        var result = rec.approvalResult;
		    if(result == 21){
			 		httpUtils.get("credit/admin/genReport?loanRecordId="+rec.loanRecordId+"&userId="+rec.appUserId,
                                  function (err,data) { 
                                      if(err == null && data==null && data.result == 0){
                                         return '<a href="'+data.message+'" target="_blank">合同查看</a>';
                                      }
                                 }
	                );
		    }
		}else{
		    return '<a href="'+ rec.downloadUrl +'" target="_blank">合同查看</a>';
		}
	    return '暂时无法查看合同';
    }
    function formatLoanUseUrl(loanUseUrl){
		if(loanUseUrl == null){
    			return '';
    	}
    	return '<a href="'+loanUseUrl+'"target="_blank">交易记录</a>'
    }
    
    function formatBusinessLicense(businessLicense){
    	if(businessLicense == null){
    			return '';
    	}
    	return '<a href="'+businessLicense+'"target="_blank">营业执照查看</a>'
    }
    
    function addOrganizationCode(value, rec){
    	var type = $("#type").val();
    	var div = "";
    	if(rec.shopRelation == "法人"){
			div = "<div><a href='javascript:openOrganizationCodeDialog(" + JSON.stringify(rec) + ")'>添加组织机构代码</a></div>"
    	}
    	
    	if(type === "todo"){
    		return div;
    	}else{
    		return "";
    	}
    }
    
    function openOrganizationCodeDialog(data){
    	openDialog("organizationCode", "credit/dialogs/addOrganizationCodeDialog.html", "添加组织机构代码", "#organizationCodeDialog", function (formId, dialogId) {
            var OrganizationCodeInfo = serializeJson(formId);
            httpUtils.post("credit/updateOrganizationCode", OrganizationCodeInfo, function (err, data) {
                if (!err) {
                    alert(data.message);
                    $("#" + dialogId).dialog('destroy');
                    loadHTML("credit/loanList.html?type=" + $('#type').val());
                } else {
                    alert("出现错误：" + err.message);
                }
            });
        }, function (url, formId) {
            $(formId).form("load", {
                loanRecordId: data.loanRecordId,
                name: data.name,
                shopRelation: data.shopRelation,
                organizationCode: data.organizationCode
            });
        });
    }

      function sortLoanRecordId(a, b) {a = a.substr(1);b = b.substr(1);return a.localeCompare(b);}
      function sortApplyTime(a,b){return parseInt(a)>parseInt(b) == true ? 1 : -1;}
      function sortName(a,b){return a.localeCompare(b);}
      function sortPhoneNum(a,b){return a.localeCompare(b);}
      function sortApplyAmount(a,b){return parseInt(a)>parseInt(b) == true ? 1 : -1;}
      function sortLoanAmount(a,b){if(a==undefined){a=0;} if(b==undefined){b=0;} return parseInt(a)>parseInt(b) == true ? 1 : -1;}
      function sortLoanTimeLimit(a,b){return parseInt(a)>parseInt(b) == true ? 1 : -1;}
      function sortDuration(a,b){return parseInt(a)>parseInt(b) == true ? 1 : -1;}
      function sortCreditApproval(a,b){console.log(a+","+b);  return parseInt(a)>parseInt(b) == true ? 1 : -1;}
      function sortApprovalResult(a,b){return parseInt(a)>parseInt(b) == true ? 1 : -1;}
      function sortState(a,b){return 1;}
      function sortSuspended(a,b) {return parseInt(a == null ? 0 : a)>parseInt(b == null ? 0 : b) == true ? 1 : -1;}
      function sortChannel(a,b){return a.localeCompare(b);}
	  function sortShopRelation(a,b) {return a.localeCompare(b);}
	  function sortOrganizationCode(a,b){return a.localeCompare(b);}

</script>
<div>
    <table class="common">
        <tr>
            <td>
                <select id="fieldWords">
                    <option value ="t1.loan_record_id">融资编号&nbsp;&nbsp;&nbsp;&nbsp;</option>
                    <option value ="t2.real_name">姓名</option>
                    <option value="t2.phone_num">手机号</option>
                    <option value="t2.id_num">身份证号</option>
                    <!--<option value="t1.apply_amount">融资需求</option>
                    <option value="t1.loanAmount">融资金额</option>
                    <option value="t1.loanTimeLimit">期数(月)</option>
                    <option value="t1.duration">期数(天)</option>-->
                </select>
            </td>
            <td>关键字
                <input id="keyWords" type="text" name="keyWords"/>
                <input id="type" type="hidden" name="type" />
            </td>
            <td>日期</td>
            <td><input class="easyui-datebox" type="text" id="startDate" data-options="sharedCalendar:'#datebox'"/></td>
            <td>至</td>
            <td><input class="easyui-datebox" type="text" id="endDate" data-options="sharedCalendar:'#datebox'"/></td>
            <td id="stateWordsTd">
                流程状态
                <select id="stateWords">
                    <option value ="0"></option>
                    <option value ="1">审批中&nbsp;&nbsp;&nbsp;&nbsp;</option>
                    <option value ="2">拒绝</option>
                    <option value="10">待签约</option>
                    <option value="11">取消签约</option>
                    <option value="20">待放款</option>
                    <option value="21">已融资</option>
                    <option value="31">已清偿</option>
                </select>
            </td>
            <td><a href="javascript:doSearch()" class="easyui-linkbutton" plain="true">查询</a></td>
        </tr>
    </table>
</div>
<div id="datebox" class="easyui-calendar"></div>
<div>
    <table id="loanApplyTable" class="easyui-datagrid" title="我的待办"
           data-options="singleSelect:true,
                        loadFilter:loadFilterForDataGrid,
                        onClickRow:onClickRow,
                        onClickCell:onClickCell,
                        pageSize:50,
                        pageNumber:1,
                        pageList:[50,100,150,200,250]"
           pagination="true">
        <thead>
            <tr>
                <th width="8%" field="loanRecordId" sortable="true" sorter="sortLoanRecordId">融资编号</th>
                <th width="5%" data-options="field:'applyTime'" formatter="formatTimestampToDate" sortable="true" sorter="sortApplyTime">申请日期</th>
                <th width="6%" data-options="field:'name'" sortable="true" sorter="sortName">姓名</th>
                <th width="6%" data-options="field:'phoneNum'" sortable="true" sorter="sortPhoneNum">手机号</th>
                <th width="5%" data-options="field:'applyAmount'" sortable="true" sorter="sortApplyAmount">融资需求</th>
                <th width="5%" data-options="field:'loanAmount'" sortable="true" sorter="sortLoanAmount">融资金额</th>
                <th width="3%" data-options="field:'loanTimeLimit'" sortable="true" sorter="sortLoanTimeLimit">期数(月)</th>
                <th width="3%" data-options="field:'duration'" sortable="true" sorter="sortDuration">期数(天)</th>
                <th width="3%" data-options="field:'action'" sortable="true" formatter="formatAction" sorter="sortCreditApproval">信审结果</th>
                <th width="3%" data-options="field:'approvalResult'" sortable="true" sorter="sortApprovalResult">审批结果</th>
                <th width="4%" data-options="field:'state'" formatter="formatApprovalResult" sortable="true" sorter="sortState">流程状态</th>
                <th width="4%" data-options="field:'suspended'" formatter="formatSuspended" sortable="true" sorter="sortSuspended">是否挂起</th>
                <th width="4%" data-options="field:'channel'" sortable="true" sorter="sortChannel">渠道标识</th>
                <th width="6%" data-options="field:'channleCode'" >获取来源</th>
                <th width="7%" data-options="field:'downloadUrl'"  formatter="formatDownloadUrl">法大大合同查看</th>
                <th width="5%" data-options="field:'loanUseUrl'"  formatter="formatLoanUseUrl">交易记录查看</th>
                <th width="5%" data-options="field:'businessLicense'" formatter="formatBusinessLicense">营业执照查看</th>
                <th width="3%" data-options="field:'shopRelation'" sortable="true" sorter="sortShopRelation">企业关系</th>
                <th width="7%" data-options="field:'organizationCode'" sortable="true" sorter="sortOrganizationCode">组织机构代码</th>
                <th width="7%" data-options="field:'addOrganizationCode'" formatter="addOrganizationCode">添加组织机构代码</th>
            </tr>
        </thead>
    </table>
</div>

<br/>

      <table id="assignTable" border="0" cellspacing="0" width="600px;" style="text-align:center">
          <tr>
              <td width="250px">
                  今日18:20后继续获取
                  <select id="gainNum" style="width: 50px;">
                      <option value ="0">0</option>
                  </select>
                  笔单
              </td>
              <td width="200px">
                  <button type="button" id="gainSubmit" style="width: 80px;" onclick="gainSubmitClick()">确定</button>&nbsp;
                  <button type="button" id="gainCancel" style="width: 80px;" onclick="gainCancelClick()">取消获取</button>
              </td>
              <td width="200px"></td>
          </tr>
      </table>