<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<base href="/" />
<title>打赏系统</title>
<link rel="stylesheet" type="text/css"
	href="/static/web-libs/jquery-easyui/themes/default/easyui.css">
<link rel="stylesheet" type="text/css"
	href="/static/web-libs/jquery-easyui/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/static/css/common.css">
<script src="/static/web-libs/jquery-easyui/jquery-3.1.1.min.js"></script>
<script src="/static/web-libs/jquery-easyui/jquery.easyui.min.js"></script>
<script src="/static/web-libs/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>

<script src="/static/web-libs/higtCharts/highcharts.js"></script>
<script src="/static/web-libs/higtCharts/modules/export-data.js"></script>
<script src="/static/web-libs/higtCharts/modules/exporting.js"></script>
<script src="/static/web-libs/higtCharts/modules/series-label.js"></script>

<script src="/static/js/common.js"></script>
<script src="/static/js/DateUtils.js"></script>
<script src="/static/js/HttpUtils.js"></script>
<script src="/static/js/config.js"></script>
<script>

</script>
</head>

<body>
	<div>
		<h1>你好啊！</h1>
	</div>
</body>

</html>