<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjf.java.dao.FunctionMapper">
  <resultMap id="BaseResultMap" type="com.cjf.java.entity.FunctionEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="function_Name" jdbcType="VARCHAR" property="FunctionName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="accordion" jdbcType="INTEGER" property="accordion" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="input_time" jdbcType="BIGINT" property="inputTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id,function_Name,parent_id,`level`,url,state,`order`,accordion,remarks,insert_time,update_time
  </sql>
  
  <insert id="add" parameterType="com.cjf.java.entity.FunctionEntity">
  		insert into t_function 
  		<trim prefix="(" suffix=")" suffixOverrides=",">
  			<if test="id != null">
  				id,
  			</if>
  			<if test="FunctionName != null">
  				function_Name,
  			</if>
  			<if test="parentId != null">
  				parent_id,
  			</if>
  			<if test="level != null">
  				`level`,
  			</if>
  			<if test="url != null">
  				url,
  			</if>
  			<if test="state != null">
  				state,
  			</if>
  			<if test="order != null">
  				`order`,
  			</if>
  			<if test="accordion != null">
  				accordion,
  			</if>
  			<if test="remarks != null">
  				remarks,
  			</if>
  			<if test="inputTime != null">
  				input_time,
  			</if>
  			<if test="updateTime != null">
  				update_time,
  			</if>
  		</trim>
  		<trim prefix="values(" suffix=")" suffixOverrides=",">
  		<if test="id != null">
  				id,
  			</if>
  			<if test="FunctionName != null">
  				#{FunctionName},
  			</if>
  			<if test="parentId != null">
  				#{parentId},
  			</if>
  			<if test="level != null">
  				#{level},
  			</if>
  			<if test="url != null">
  				#{url},
  			</if>
  			<if test="state != null">
  				#{state},
  			</if>
  			<if test="order != null">
  				#{order},
  			</if>
  			<if test="accordion != null">
  				#{accordion},
  			</if>
  			<if test="remarks != null">
  				#{remarks},
  			</if>
  			<if test="inputTime != null">
  				#{inputTime},
  			</if>
  			<if test="updateTime != null">
  				#{updateTime},
  			</if>
  		</trim>
  </insert>
  
  <update id="updateUrl" parameterType="java.util.Map">
  		update t_function set url = #{url} where id = #{id}
  </update>
  
  <select id="getFunctions" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_function where parent_id = #{parentid} limit #{offset},#{rows}
  </select>
  
  <delete id="deleteFunctionById" parameterType="java.lang.Integer">
  		delete from t_function where id = #{id}
  </delete>
  
  <select id="getAllFunction" resultMap="BaseResultMap" parameterType="java.util.Map">
  		select 
  		<include refid="Base_Column_List" /> 
  		from t_function 
  </select>
  
</mapper>