<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjf.java.dao.LoginMapper">
  <resultMap id="BaseResultMap" type="com.cjf.java.entity.AccountEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="account_type" jdbcType="TINYINT" property="accountType" />
    <result column="account_status" jdbcType="TINYINT" property="accountStatus" />
    <result column="input_time" jdbcType="BIGINT" property="inputTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, account_name, password, account_type, account_status, input_time, update_time
  </sql>
  <select id="getAccountByAccount" parameterType="com.cjf.java.api.dto.LoginDto" resultMap="BaseResultMap">
	select 
	<include refid="Base_Column_List"/>
	from 
	t_account t where t.account_name = #{accountName,jdbcType=VARCHAR} 
	AND t.`password` = #{password,jdbcType=VARCHAR}
  </select>
</mapper>