<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjf.java.dao.MenuMapper">
	<resultMap id="BaseResultMap" type="com.cjf.java.entity.MenuEntity">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="menu_name" jdbcType="VARCHAR" property="menuName" />
		<result column="parent_id" jdbcType="INTEGER" property="parentId" />
		<result column="level" jdbcType="TINYINT" property="level" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="state" jdbcType="INTEGER" property="state" />
		<result column="order" jdbcType="INTEGER" property="order" />
		<result column="remarks" jdbcType="VARCHAR" property="remarks" />
		<result column="insert_time" jdbcType="BIGINT" property="insertTime" />
		<result column="update_time" jdbcType="BIGINT" property="updateTime" />
	</resultMap>

	<sql id="Base_Column_List">
		id, menu_name, parent_id, level, url, state, order, remarks, insert_time,
		update_time
	</sql>
	<insert id="addMenu" parameterType="com.cjf.java.entity.MenuEntity">
		INSERT INTO t_menu (
		menu_name,
		parent_id,
		`level`,
		url,
		state,
		`order`,
		remarks,
		insert_time,
		update_time
		)
		VALUES
		(
		#{menuName},
		#{parentId},
		#{level},
		#{url},
		#{state},
		#{order},
		#{remarks},
		#{insertTime},
		#{updateTime}
		)
	</insert>
	
</mapper>