<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjf.java.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.cjf.java.entity.RoleEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_describe" jdbcType="VARCHAR" property="roleDescribe" />
    <result column="role_type" jdbcType="INTEGER" property="roleType" />
    <result column="busi_num" jdbcType="TINYINT" property="busiNum" />
    <result column="order" jdbcType="TINYINT" property="order" />
    <result column="input_time" jdbcType="BIGINT" property="inputTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id,role_name,role_describe,role_type,busi_num,order,insert_time,update_time
  </sql>
  
  <insert id="addRole" parameterType="com.cjf.java.entity.RoleEntity">
  		insert into t_role 
  		<trim prefix="(" suffix=")" suffixOverrides=",">
  			<if test="id != null">
  				id,
  			</if>
  			<if test="roleName != null">
  				role_name,
  			</if>
  			<if test="roleDescribe != null">
  				role_describe,
  			</if>
  			<if test="roleType != null">
  				role_type,
  			</if>
  			<if test="busiNum != null">
  				busi_num,
  			</if>
  			<if test="order != null">
  				order,
  			</if>
  			<if test="inputTime != null">
  				input_time,
  			</if>
  			<if test="updateTime != null">
  				update_time,
  			</if>
  		</trim>
  		<trim prefix="values(" suffix=")" suffixOverrides=",">
  			<if test="id != null">
  				#{id},
  			</if>
  			<if test="roleName != null">
  				#{roleName},
  			</if>
  			<if test="roleDescribe != null">
  				#{roleDescribe},
  			</if>
  			<if test="roleType != null">
  				#{roleType},
  			</if>
  			<if test="busiNum != null">
  				#{busiNum},
  			</if>
  			<if test="order != null">
  				#{order},
  			</if>
  			<if test="inputTime != null">
  				#{inputTime},
  			</if>
  			<if test="updateTime != null">
  				#{updateTime},
  			</if>
  		</trim>
  </insert>
</mapper>