<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjf.java.dao.RoleFunctionMapper">
  <resultMap id="BaseResultMap" type="com.cjf.java.entity.RoleFunctionEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="function_id" jdbcType="INTEGER" property="functionId" />
    <result column="input_time" jdbcType="BIGINT" property="inputTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id,role_id,function_id,insert_time,update_time
  </sql>
	
  <insert id="addRoleFunction" parameterType="com.cjf.java.entity.RoleFunctionEntity">
  		insert into t_role_function
  		<trim prefix="(" suffix=")" suffixOverrides=",">
	  		<if test="id != null">
	  			id,
	  		</if>
	  		<if test="roleId != null">
	  			role_id,
	  		</if>
	  		<if test="functionId != null">
	  			function_id,
	  		</if>
	  		<if test="inputTime != null">
	  			input_time,
	  		</if>
	  		<if test="updateTime != null">
	  			update_time,
	  		</if>
  		</trim>
  		<trim prefix="values(" suffix=")" suffixOverrides=",">
	  		<if test="id != null">
	  			id,
	  		</if>
	  		<if test="roleId != null">
	  			#{roleId},
	  		</if>
	  		<if test="functionId != null">
	  			#{functionId},
	  		</if>
	  		<if test="inputTime != null">
	  			#{inputTime},
	  		</if>
	  		<if test="updateTime != null">
	  			#{updateTime},
	  		</if>
  		</trim>
  </insert>
  
  <delete id="deleteRoleFunctionById" parameterType="java.lang.Integer">
  		delete from t_role_function where id = #{id}
  </delete>
  
  <select id="findRoleFunctionByRoleIds" parameterType="java.util.List" resultMap="BaseResultMap">
  		select 
  		<include refid="Base_Column_List"/>
  		from t_role_function 
  		where 1=1
  		<if test="roleIds != null">
  			role_id in
	  		<foreach collection="roleIds" open="(" close=")" item="roleId" separator=",">
				  #{roleId}
	  		</foreach>
  		</if>
  </select>
</mapper>