<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>打赏系统登录</title>
    <link rel="stylesheet" type="text/css" href="/static/web-libs/jquery-easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/web-libs/jquery-easyui/themes/icon.css">
    <script src="/static/web-libs/jquery-easyui/jquery.min.js"></script>
    <script src="/static/web-libs/jquery-easyui/jquery.easyui.min.js"></script>
    <script src="/static/js/HttpUtils.js"></script>
    <script>
        $(document).ready(function(){
            console.log(this);
            $(this).keyup(function (event) {
                if(event.keyCode === 13) {
                    login();
                }
            })
        });


        function login() {
            httpUtils.post("auth", {
                accountName : $("#accountName").val(),
                password: $("#password").val()
            }, function(data){
            	alert(data.msg);
                if(data.code == 0) {
                    window.location.href = "index";
                } else {
                    alert("用户名或密码错误！");
                }
            })
        }
    </script>
</head>
<body>
<div id="dlg" class="easyui-dialog" title="打赏系统登录" data-options="iconCls:'icon-save',modal:true,resizable:false,closable:false"
     style="width:400px;height:200px;padding:10px">
    <form>
        <table style="width: 100%">
            <tr>
                <td>用户名</td>
                <td><input class="easyui-textbox" name="accountName" id="accountName"/></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="password" class="easyui-textbox" name="password" id="password"/></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <a href="javascript:login()" class="easyui-linkbutton">登录</a>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>